<section class="container">
  <div class="container">
    <div class="row row-sobrenos p-5 d-flex justify-content-center">
      <h1 class="py-3">Sobre o nosso jogo</h1>
      <div class="row">
        <div class="col-lg-12">
          <p>A partir de agora mergulhe no universo do flexbox na companhia do maravilhoso Saci! Acompanhe nosso ranking e treine o quanto puder para melhorar a sua pontuação.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="py-3 text-center">Como jogar:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Antes de tudo, vamos ao guia básico do nosso jogo. A princípio trabalharemos os recursos do justify-content.</p>
          <p>Os comandos são:</p>

          <strong>justify-content: flex start;</strong>
          <p>Alinha os elementos no início do container.</p>

          <strong>justify-content: flex end;</strong>
          <p>Alinha os elementos no final do container.</p>

          <strong>justify-content: center;</strong>
          <p>Alinha os elementos no centro do container.</p>
        </div>
        <div class="col-6 p">
          <strong>justify-content: space-between;</strong>
          <p>Gera um espaçamento igual entre os elementos, mantendo o primeiro no início e o último no final do container.</p>

          <strong>justify-content: space-around;</strong>
          <p>Gera um espaçamento onde os espaços entre os elementos são duas vezes maiores que os do unício e fim.</p>

          <p>Agora que você já conhece os comandos do justify-content, vamos começar a jogar! É simples,  basta selecionar o botão com a opção da ação que você deseja. Se estiver com dúvidas, role a página de volta para rever as opções. Boa sorte!</p>
        </div>
      </div>
    </div>
  </div>
</section>
